<template id="screenShotDrawingPanelTpl">
  <div class="screenShotDrawingPanel">
    <div class="drawTools">
      <button class="color" data-color="red"></button>
      <button class="color" data-color="blue"></button>
      <button class="color" data-color="green"></button>
      <button class="color" data-color="white"></button>
      <button class="color" data-color="black"></button>
      <button class="eraser">Eraser</button>
    </div>

    <button class="mdc-button close"><span class="mdc-button__ripple"></span><span class="mdc-button__label">Close</span></button>
  </div>
</template>