.ad {
    width: 728px;
    height: 90px;
    background: rgba(255,255,255,0.2);
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    position: relative;
    z-index: 1;
}
.ad.floating {
    position: absolute;
    margin-top: calc(-90px - 1em);
    left: calc(20% + 0.5em);
}

.impage {
    width: 100%;
    padding: 10%;
    box-sizing: border-box;
    margin: 0;
}